/* General styling for the section */
section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the label and select elements */
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  select {
    width: 50%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
    background-color: white;
  }
  
  /* Article styling for form input */
  article {
    margin: 20px 0;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  /* Button styling */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
/* Success message styling */
.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

/* Modal styling */
.modal-content {
  padding: 20px;
  border-radius: 8px;
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer button {
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #0056b3;
}

.modal-body p {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Modal header styling */
.modal-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;  /* Set text color to dark for visibility */
  background-color: #f9f9f9; /* Light background color */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Make select dropdown options smaller for smaller screens */
@media (max-width: 768px) {
  select {
    width: 50%; /* Ensure the select field is 100% width */
    font-size: 0.9rem; /* Reduce font size */
  }

  /* Reduce padding and font size for the dropdown options */
  select option {
    font-size: 0.9rem;
    padding: 5px;
  }
}
