/* Base styles for the main container */
main {
  margin: 0 auto;           /* Center the main container */
  padding: 8px;            /* Use light padding */
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 420px;         /* Slightly smaller max-width */
  width: 100%;              /* Ensure it fills the screen width */
  box-sizing: border-box;   /* Include padding and border in width */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  main {
    padding: 5px;          /* Lighter padding on small screens */
    max-width: 95%;        /* Maximize the use of available screen space */
    max-width: 220px;
  }

  h2 {
    font-size: 1.1rem;     /* Adjust heading size for mobile */
    margin-bottom: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 5px;              /* Reduce the gap between elements */
  }

  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;             /* Full width */
    padding: 6px;            /* Reduce padding */
    margin: 2px 0;           /* Minimal margin */
    box-sizing: border-box;
    font-size: 0.9rem;       /* Smaller font size */
  }

    select {
    height: 40px;             /* Control dropdown height for mobile */
    font-size: 0.85rem;       /* Adjust font size to fit screen */
    padding: 4px;             /* Less padding to prevent overflow */
  }

  option {
    font-size: 0.8rem;        /* Ensure smaller font for dropdown options */
    padding: 8px;             /* Compact options */
  }

  .flex-form, 
  .allocatedAndBudgetName, 
  .daysLeft {
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    align-items: stretch;    /* Stretch to fill the available width */
    gap: 5px;
    padding: 0;              /* Remove excess padding */
    width: 100%;             /* Ensure it uses full width */
  }

  button {
    font-size: 0.9rem;       /* Smaller font size */
    padding: 8px;
    width: 100%;             /* Full-width buttons */
    margin-top: 5px;
  }
}
